body {
  background-color: whitesmoke;
  font-family: 'Montserrat';
}

.navbar {
  background-color: rgb(232, 229, 229);
  min-height: 100px;
}

.btn {
  background-color: orangered;
  color: #ffffff;
  border: 1px solid white;
}

.btn:hover {
  background-color: rgb(206, 72, 24);
  color: #ffffff;
}

#boton-menu {
  padding: 5px 5px 5px 15px;
  margin: 10px;
}
.nav-link {
  color: black;
  margin-right: 20px;
}

.logo-fundacion {
  height: 80px;
  width: 180px;
}

.nav-link:hover {
  color: black;
}

/* COMIENZO PRIMERA SECCIÓN HERO */
#hero {
  background-color: rgb(232, 229, 229);

  background-image: linear-gradient(rgba(43, 131, 232, 0.473),rgba(19, 18, 18, 0.453) ),
    url("../img/hero2.png");
  /* background-blend-mode:darken ; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position:bottom;
  min-height: 700px;
  
}

.hero-text {
  padding-top: 120px;
  color: white;
  margin: 0 auto 60px auto;
  text-align: center;
}
#cartas h2 {
  margin-top: 30px;
  text-align: center;
  font-size: 60px;
}

#cartas p {
  text-align: center;
  padding: 15px 0;
}

.card-container {
  margin: 30px auto;
  min-width: 360px;
}

.card {
  height: 380px;
  min-height: 350px;
  border: 1px solid rgba(20, 33, 173, 1);
  margin-bottom: 20px;
}

.enlaces-cartas:hover {
  text-decoration: none;
}

.card-body {
  color: white;
  background-color: rgba(20, 33, 173, 1);
  height: 180px;
}
.card-img-top {
  height: 200px;
  /* max-height: 200px; */
  border-bottom: 1px solid rgba(20, 33, 173, 1);
  
}



#vision-video {
  margin-bottom: 10px;
}

/* #mapa {
  margin-top: 20px;
  max-height: 620px;
}

.titulo-mapa {
  text-align: center;
  padding: 15px;
  font-size: 2.4em;
}

.mapa-fundacion {
  margin-top: 20px;
  max-height: 500px;
} */

iframe{
  border-radius: 10px;
  
}

/* Seccion colaboradores */
#colaboradores {
  margin-top: 30px;
  max-height: 700px;
  background-color: rgba(43, 132, 232, 1);
  color: whitesmoke;
}

#titulo-colaboradores {
  text-align: center;
  font-size: 2.3em;
  padding-top: 10px;
}
.caja-colab {
  margin-top: 15px;
  text-align: center;
  max-height: 250px;
}

.imagenes-colab {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  border: 1px solid rgba(15, 178, 177, 255);
  margin: 15px auto;
  align-items: center;
}

#proyectos {
  margin-top: 30px;
  min-height: 450px;
}

#titulo-proyectos {
  text-align: center;
  margin-bottom: 15px;
  font-size: 2.3em;
}

.caja-proyecto {
  margin-top: 15px;
  text-align: center;
  max-height: 250px;
}

.foto-proyecto {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  align-items: center;
}

.parrafo-proyecto {
  /* text-align: center; */
  font-weight: 600;
}

#pie-pagina {
  background-color: black;
  color: whitesmoke;
  height: 300px;
  max-height: 350px;
}
.contenedor-footer {
  width: max-content;
  height: fit-content;
}

.fila1 {
  width: 100%;
  background-color: black;
  margin: 0;
  height: 200px;
  color: whitesmoke;
  text-align: center;
}

.img-footer {
  height: 150px;
  width: 150px;
  justify-items: center;
  margin: 18px 0;
  padding: 10px;
}

#b2-titulo {
  padding: 10px;
  font-size: 1.5em;
}

#b2-parrafo {
  padding: 5px;
  font-size: 0.9em;
}

#b3-titulo {
  padding: 10px;
  font-size: 1.5em;
}

.iconos-footer {
  margin: 5px;
  padding: 10px;
}

.fa-facebook {
  background-color: blue;
}

.fila2 {
  margin: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(14, 13, 13);
  text-align: center;
  line-height: 40px;
  color: whitesmoke;
}

/* AQUI VAN LOS CAMBIOS PARA DISPOSITIVOS MOVILES */
/* ======================================================================= */


@media (max-width: 430px) {

  .hero-text{
    font-size: 0.74em;
    padding-top: 30px;
  }

  #hero-p2{
    display: none;
  }
  .imagenes-colab {
    height: 100px;
    width: 100px;
  }

  /* #pie-pagina{
    height: 700px;
  } */

  #hero {
    background-color: rgb(232, 229, 229);

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("../img/hero2.png");
    /* background-blend-mode:darken ; */
    width: fit-content;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80%;
    min-height: 400px;
    max-height: 450px;
    color: black;
  }

  #cartas h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 48px;
  }

  

  #proyectos {
    display: none;
  }

  .fila1 {
    min-height: 380px;
  }

  .fila2 {
    min-height: 100px;
  }

  .fila2 .col-12 small {
    font-size: 0.5;
    text-align: justify;
  }

  .img-footer {
    height: 110px;
    width: 110px;
    justify-items: center;
    margin: 18px 0;
    padding: 0px;
  }


  #titulo-colaboradores{
    font-size: 1.6em;
    color: whitesmoke;
  }

  #fila2-colab{
    padding-bottom: 10px;
  }
  
  #b2-titulo{
    margin-bottom:0px;
  }

  #b2-parrafo{
    margin: 0 0;
  }

  #b3-titulo{
    margin-bottom:0px;
  }

  .fila2{
    line-height: 1.4;
    min-height: 60px;
    font-size: smaller;
  }

  .iconos-footer{
    margin-bottom: 5px;
    padding-top: 0px;
  }
  
}
